.nav-header {
    animation: form-and-blur .8s cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-range-start: cover 10%;
    animation-timeline: scroll();
}

@keyframes form-and-blur {
    from {
        padding: 16px 128px;
    }
    to {
        border-radius: 25px;
        backdrop-filter: blur(5px);
        background: #00000018;
    }
}